<% include ../partials/header %>

<div class="alert alert-success">
    <strong>Note:</strong>
    Your body mass index is: 
    <strong id="result"><%= Math.round(bmi * 100) / 100 %></strong> <span id="category"><%= category %></span>
</div>


<% include ../partials/footer %>